# This is a notebook for my final capstone project for the IBM Data science professional certificate

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course")

Hello Capstone Project Course

In [1]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\programdata\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from BeautifulSoup4) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

In [41]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

In [86]:
urlwiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [87]:
# page = urlopen(urlwiki)
page = requests.get(urlwiki)
html = page.text
soup = BeautifulSoup(html)

In [88]:
table = soup.find_all("table", { "class" : "wikitable sortable" })
# rows = table.find_all('tr')

#     try:
#         rows = table_body.find_all('tr')
#         for tr in rows:
#             cols = tr.find_all('td')
#             for td in cols:
#                 print(td.text)
#     except:
#         print("no tbody")

In [89]:
for row in table:
        col = row.find_all('tr')

In [90]:
l = []
for tr in col:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df = pd.DataFrame(l, columns=["PostalCode", "Borough", "Neighborhood"])

In [91]:
df.head()

  PostalCode         Borough        Neighborhood
0       None            None                None
1      M1A\n  Not assigned\n      Not assigned\n
2      M2A\n  Not assigned\n      Not assigned\n
3      M3A\n    North York\n         Parkwoods\n
4      M4A\n    North York\n  Victoria Village\n

In [92]:
df.shape[0]

181

In [93]:
df = df.drop(index=0)

In [94]:
df = df[df.Borough != 'Not assigned\n']
df.shape[0]

103

In [95]:
df.head()

,PostalCode,Borough,Neighborhood
3,M3A\n,North York\n,Parkwoods\n
4,M4A\n,North York\n,Victoria Village\n
5,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
6,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
7,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"

In [98]:
df_new = df
df_new['PostalCode'] = df_new['PostalCode'].str.replace(r'\n', '')

In [99]:
df_new.head()

,PostalCode,Borough,Neighborhood
3,M3A,North York\n,Parkwoods\n
4,M4A,North York\n,Victoria Village\n
5,M5A,Downtown Toronto\n,"Regent Park, Harbourfront\n"
6,M6A,North York\n,"Lawrence Manor, Lawrence Heights\n"
7,M7A,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"

In [100]:
df_new['Borough'] = df_new['Borough'].str.replace(r'\n', '')

In [101]:
df_new.head()

  PostalCode           Borough                                   Neighborhood
3        M3A        North York                                    Parkwoods\n
4        M4A        North York                             Victoria Village\n
5        M5A  Downtown Toronto                    Regent Park, Harbourfront\n
6        M6A        North York             Lawrence Manor, Lawrence Heights\n
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government\n

In [103]:
df_new['Neighborhood'] = df_new['Neighborhood'].str.replace(r'\n', '')

In [106]:
df_new

,PostalCode,Borough,Neighborhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M6A,North York,"Lawrence Manor, Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
161,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
166,M4Y,Downtown Toronto,Church and Wellesley
169,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
170,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [114]:
'M5G' in df_new['PostalCode'].values

True

In [115]:
df_new.shape

(103, 3)

In [123]:
df_new[df_new['PostalCode'] == 'M5G']

   PostalCode           Borough        Neighborhood
41        M5G  Downtown Toronto  Central Bay Street

In [128]:
data = pd.read_csv('Geospatial_Coordinates.csv')

In [138]:
df_new = df_new.rename(columns={'PostalCode' : 'Postal Code'})

In [139]:
final_df = pd.merge(df_new, data, on='Postal Code')

In [140]:
final_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [141]:
final_df.shape[0]

103